

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg :#fff;
    --color1: #2a2836;
    --color2:#e2e8f0;
    --color3: #bc7155;
    --white: #fff
}




.wrapper {
    height: 100vh;
    background: aliceblue;
    display: grid;
    grid-template: 1fr 7fr/ 1fr 4fr;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto Slab', serif;
}


header {
    background:var(--color3);
    grid-area: 1/2/2/3;
    display: grid;
    grid-template: 1fr 1fr/ 2fr 1fr;
    color: var(--bg);
}

aside {
    background: #000d10;
    grid-area: 1/1/3/1;
    display: grid;
    grid-template-rows: .8fr 3fr 2fr 4fr;
    padding-top: 20px;
    color: var(--white);
}

main {
    background: var(--lightwhite);
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.detail {
    /* display: grid; */
    grid-template-rows: 1fr 1fr;
}

.project>ul {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(287px, 1fr)); */
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    height: 91%;
    padding: 5px 10px 10px 10px;
}

ul{
    list-style: none;
}

input#\#search {
    /* width: 100%; */
    background: #e2e8f0;
    border-radius: 15px;
    height: 28px;
    width: 100%;
    padding: 19px;
    border: 1px solid var(--white);
}

.nav>ul {
    display: flex;
    justify-content: end;
    background: var(--color3);
    gap: 13px;
    padding-right: 30px;
}

.nav button {
    background: var(--white);
    border-radius: 15px;
    padding: 6px 14px;
    color: var(
    --color3));
    font-size: 1.5rem;
    border: 0px solid #fff;
    color: #97492c;
}



.menu li, .setting li, aside>.logo {
    margin-left: 40px;
    margin-bottom: 17px;
    display: flex;
    gap: 10px;
}

 

.watch {
    text-align: end;
}

.project li {
    padding: 20px;
    background: var(--white);
    box-shadow: -7px 2px 5px var(--color3);
    border-radius: 6px;
}

.project, .detail {
    padding-top: 20px;
}

.detail ul {
    background: var(--white);
    margin: 5px 12px 8px 2px;
    box-shadow: -3px 0px 4px 1px var(--color3);
    border-radius: 5px;
    padding: 11px 20px;
}

.detail li {
    margin-left: 21px;
    font-size: 12px;
    padding: 0px;
}

.search {
    display: grid;
    grid-template-columns: 0fr 36fr;
    padding: 12px 0;
}
img {
    width: 20px;
   
}

.trending li {
    display: flex;
    margin: 10px;
    align-items: center;
    gap: 20px;
    padding: 2px;
}

.trending li>div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.project h3 {
    padding-left: 8px;
}

.info {
    display: flex;
    justify-content: space-around;
    padding: 9px 30px 12px 174px;
    align-items: center;
}

hr {
    margin: 10px 20px;
}

.userDetail {
    display: flex;
    gap: 10px;
    padding: 0 0 0 23px;
}

.userDetail>div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.imgCover {
    border-radius: 18px;
    padding: 1px 7px;
    background: var(--bg);
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
}

.logo {
    align-items: center;
}

.search i.material-icons {
    position: relative;
    right: -30px;
    top: 8px;
}

.trending .imgCover {
    border: 2px solid  var(--color3);
    border-radius: 50%;
    padding: 5px;
}


.annoucement>ul {
    padding: 32px;
}

.trending ul {
    padding: 32px;
}

h4, h5, h3 {
    color: dimgray;
}